.border-box {
  &.selected {
    font-weight: 700;
  }
  display: inline-block;
  // width: 20rem;
  // height: 4rem;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 3rem;
  text-align: center;
  font-size: 2.5rem;

  cursor: pointer;
}
