.app-header {
  width: 100vw;
  height: 100%;
  img {
    width: 100%;
    height: auto;
  }
}

.img-header {
  background-size: 100% 100%;
  width: 100%;
  height: 14rem;
  object-fit: cover;
  min-width: 96rem;
  min-height: 14rem;
}
